$primaryColor: #fff; // top navbar
$secondaryColor: #283e4c; // eg. icons in panel right
$tertiaryColor: #804f7b;
$quaternaryColor: #e63312; // eg. hover, or style settings that are actively set in the editor

/* Dark theme */
$mainColor: #fff; /* Light: #573454 Dark: #3b2639 -moz-linear-gradient(top, #fca99b 0%, #6e2842 100%) */
$fontColor: #000; /* l: #d8d7db */
$fontColorActive: #e63312;

$mainDkColor: #eff0f1; // e.g. for form fields
$mainDklColor: #283e4c; //e.g. box titlebar, but also inside for the properties box
$mainLhColor: #eff0f1; // e.g. hover for tooltip RTE
$mainLhlColor: black; // controls of the labels
$fontColorDk: pink; //e.g. ???
$colorBlue: #283e4c;
$colorRed: #e63312;
$colorYell: #ff9f1c;
$colorGreen: #0a9d77;
$tagBg: $colorGreen;
$secColor: $tagBg;
$imageCompDim: 50px;
$leftWidth: 15%;

// additional vars from newsletter
// $active-color:      $colorGreen;
// $tag-color:         $colorGreen;

/* Color Helpers */
$colorHighlight: $colorBlue;
$colorWarn: $colorRed;

// Parcel workaround: https://github.com/parcel-bundler/parcel/issues/39
// @import url(node_modules/grapesjs/src/styles/scss/main.scss);
@import 'grapesjs/src/styles/scss/main';
// @import 'grapesjs-preset-newsletter/src/style/main';

// overwrite scss

// tag background color
.gjs-clm-tag {
  color: white;
  background-color: $tagBg;
}

// no border radius for blocks
.gjs-block {
  border-radius: 0;
}

// clearly mark active toolbar buttons
.gjs-pn-btn {
  &:hover {
    color: $colorRed;
  }
  &.gjs-pn-active {
    background-color: $mainDkColor;
    cursor: default;
    box-shadow: none;
    &.gjs-four-color {
      color: inherit;
    }
  }
}
// manually set the font color of the properties titlebar
.gjs-title,
.gjs-sm-title {
  color: white;
}
// remove the background color, otherwise it would be the same as the properties titlebar
.gjs-sm-sector .gjs-sm-field.gjs-sm-composite {
  background-color: transparent;
}
// default it is mainDkColor
.#{$app-prefix}editor-cont ::-webkit-scrollbar-track {
  background: #a7aeb4;
}

// Code Manager FileManager
.gjs-btn-prim {
  &.gjs-btn-code-edit {
    margin-top: 10px;
    padding: 10px;
    background-color: $colorGreen;
    color: #fff;
  }
  &.gjs-btn-code-cancel {
    margin-top: 10px;
    padding: 10px;
    margin-left: 10px;
    background-color: transparent;
    display: none;
  }
}

// FileManager
.gjs-asset-manager {
  .gjs-am-file-uploader > form,
  .gjs-am-assets-cont {
    background-color: white;
  }
  .gjs-am-meta {
    padding-left: 10px;
  }
  .gjs-am-asset-image:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }
}

// RDC modal window
.gjs-mdl-dc-card {
  width: 31%;
  height: auto;
  margin: 8px 5px;
  border: 1px solid rgba(0,0,0,.2);;
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
  transition: all .2s ease 0s;
  transition-property: box-shadow,color;
  &.active {
    box-shadow: 1px 3px 5px 0 rgb(0 0 0 / 20%);
  }
}
.gjs-mdl-dc-block {
  padding: 7px;
  width: 100%;
}
.gjs-mdl-dc-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.gjs-mdl-dc-col {
  &.w-90 {
    width: 90%;
  }
  &.a-end {
    text-align: end;
  }
}
.gjs-mdl-dc-title {
  font-size: 1rem;
  &::first-letter {
    text-transform:capitalize;
  }
}
.gjs-mdl-dc-text {
  font-size: 0.8rem;
}
.gjs-mdl-dc-btn {
  width: 100%;
  padding-top: 5px;
  border-radius: 2px;
  &:hover {
    color: #e63312;
  }
}
.gjs-mdl-dc-pn-btn {
  font-size: 15px;
  cursor: pointer;
}


