$primaryColor: #fff; // top navbar
$secondaryColor: #283e4c; // eg. icons in panel right
$tertiaryColor: #804f7b;
$quaternaryColor: #e63312; // eg. hover, or style settings that are actively set in the editor

/* Dark theme */
$mainColor: #fff; /* Light: #573454 Dark: #3b2639 -moz-linear-gradient(top, #fca99b 0%, #6e2842 100%) */
$fontColor: #000; /* l: #d8d7db */
$fontColorActive: #e63312;

$mainDkColor: #eff0f1; // e.g. for form fields
$mainDklColor: #283e4c; //e.g. box titlebar, but also inside for the properties box
$mainLhColor: #eff0f1; // e.g. hover for tooltip RTE
$mainLhlColor: black; // controls of the labels
$fontColorDk: pink; //e.g. ???
$colorBlue: #283e4c;
$colorRed: #e63312;
$colorYell: #ff9f1c;
$colorGreen: #0a9d77;
$tagBg: $colorGreen;
$secColor: $tagBg;
$imageCompDim: 50px;
$leftWidth: 15%;

// additional vars from newsletter
// $active-color:      $colorGreen;
// $tag-color:         $colorGreen;

/* Color Helpers */
$colorHighlight: $colorBlue;
$colorWarn: $colorRed;

// Parcel workaround: https://github.com/parcel-bundler/parcel/issues/39
// @import url(node_modules/grapesjs/src/styles/scss/main.scss);
@import 'grapesjs/src/styles/scss/main';
// @import 'grapesjs-preset-newsletter/src/style/main';

// overwrite scss

// tag background color
.gjs-clm-tag {
  color: white;
  background-color: $tagBg;
}

// no border radius for blocks
.gjs-block {
  border-radius: 0;
}

// clearly mark active toolbar buttons
.gjs-pn-btn {
  &:hover {
    color: $colorRed;
  }
  &.gjs-pn-active {
    background-color: $mainDkColor;
    cursor: default;
    box-shadow: none;
    &.gjs-four-color {
      color: inherit;
    }
  }
}
// manually set the font color of the properties titlebar
.gjs-title,
.gjs-sm-title {
  color: white;
}
// remove the background color, otherwise it would be the same as the properties titlebar
.gjs-sm-sector .gjs-sm-field.gjs-sm-composite {
  background-color: transparent;
}
// default it is mainDkColor
.#{$app-prefix}editor-cont ::-webkit-scrollbar-track {
  background: #a7aeb4;
}

// Code and FileManager
.gjs-btn-prim {
  margin-top: 10px;
  padding: 10px;
  &.gjs-btn-code-edit {
    background-color: $colorGreen;
    color: #fff;
  }
  &.gjs-btn-code-cancel {
    margin-left: 10px;
    background-color: transparent;
    display: none;
  }
}
